.to-top-enter-active,
.to-top-leave-active {
  transition: all 0.3s;
}
.to-top-enter,
.to-top-leave-to {
  transform: translateY(15px);
  opacity: 0;
}
.opacityShow-enter-active,
.opacityShow-leave-active {
  transition: all 0.3s;
}
.opacityShow-enter,
.opacityShow-leave-to {
  opacity: 0;
}
.to-bottom-enter-active,
.to-bottom-leave-active {
  transition: all 0.3s;
}
.to-bottom-enter,
.to-bottom-leave-to {
  transform: translateY(-15px);
  opacity: 0;
}
.to-left-enter-active,
.to-left-leave-active {
  transition: all 0.3s;
}
.to-left-enter,
.to-left-leave-to {
  transform: translateX(15px);
  opacity: 0;
}
.to-right-enter-active,
.to-right-leave-active {
  transition: all 0.3s;
}
.to-right-enter,
.to-right-leave-to {
  transform: translateX(-15px);
  opacity: 0;
}
/* 清除浮动 */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after {
  clear: both;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Microsoft YaHei";
}
.hover-bg {
  transition: 0.3s;
}
.hover-bg:hover {
  background: #c41e1e !important;
}
.txtUnavtive {
  color: #de1a1a !important;
  text-decoration: line-through;
}
.mid-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background-color: rgba(245, 245, 245, 0.3);
}
/*定义滚动条轨道 内阴影+圆角*/
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #646464;
}
.cuosor_p {
  cursor: pointer;
}
.ml20 {
  margin-left: 20px;
}
.ml8 {
  margin-left: 8px;
}
.ml5 {
  margin-left: 5px;
}
