@font-face {
  font-family: 'srhmo';
  src:  url('fonts/srhmo.eot?tl1ym8');
  src:  url('fonts/srhmo.eot?tl1ym8#iefix') format('embedded-opentype'),
    url('fonts/srhmo.ttf?tl1ym8') format('truetype'),
    url('fonts/srhmo.woff?tl1ym8') format('woff'),
    url('fonts/srhmo.svg?tl1ym8#srhmo') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'srhmo' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yinyue:before {
  content: "\e917";
}
.icon-kafei:before {
  content: "\e918";
}
.icon-yumaobi:before {
  content: "\e919";
}
.icon-tuodong:before {
  content: "\e91a";
}
.icon-gongzuo:before {
  content: "\e91b";
}
.icon-xiazai:before {
  content: "\e91c";
}
.icon-yinyu2:before {
  content: "\e91d";
}
.icon-yinyue1:before {
  content: "\e91e";
}
.icon-zaixianxuexi:before {
  content: "\e91f";
}
.icon-cha:before {
  content: "\e90f";
}
.icon-ditu:before {
  content: "\e910";
}
.icon-gouwu:before {
  content: "\e911";
}
.icon-img:before {
  content: "\e912";
}
.icon-shanchu:before {
  content: "\e913";
}
.icon-shipin:before {
  content: "\e914";
}
.icon-wangluo:before {
  content: "\e915";
}
.icon-wenxianjiansuoshenqing:before {
  content: "\e916";
}
.icon-you:before {
  content: "\e90e";
}
.icon-hongqi:before {
  content: "\e908";
}
.icon-dui:before {
  content: "\e909";
}
.icon-deng:before {
  content: "\e90a";
}
.icon-jinggao:before {
  content: "\e90b";
}
.icon-wenhao:before {
  content: "\e90c";
}
.icon-xiala:before {
  content: "\e90d";
}
.icon-add:before {
  content: "\e900";
}
.icon-360:before {
  content: "\e901";
}
.icon-baidu:before {
  content: "\e902";
}
.icon-bing:before {
  content: "\e903";
}
.icon-google:before {
  content: "\e904";
}
.icon-shenma:before {
  content: "\e905";
}
.icon-sougou:before {
  content: "\e906";
}
.icon-setting:before {
  content: "\e907";
}
